*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Add styles here! */

p {
    font-size: 1.25rem;
    padding-bottom: 0.9rem;
}

p:last-child {
    padding-bottom: 0;
}

.max-width-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.intro-chunk {
    padding-top: 96px;
    padding-bottom: 64px;
    padding-left: 24px;
    padding-right: 24px;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
}

.intro-chunk p:first-of-type {
    padding-top: 48px;
}

.intro-chunk p {
    max-width: 415px;
}

.intro-chunk strong {
    color: hsl(160deg, 100%, 30%);
}

main {
    background-color: #666;
    padding-top: 64px;
    padding-bottom: 64px;
    border-top: 8px solid #999999;
}

.card {
    background-color: white;
    padding-top: 12px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.card h2 {
    font-size: 1.5rem;
    font-weight: 900;
}

.card .indented-heading {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: -32px;
    background-color: hsl(45deg, 100%, 50%);
    border-bottom: 8px solid hsl(45deg, 100%, 40%);
    width: fit-content;
}

.card p:first-of-type {
    padding-top: 1rem;
}
